<div class="container-center">
  <div class="container">
    <label>Nome :</label>
    <input (keyup)="verifyName()" type="text" #nomeInput [value]="nome" />
  </div>
  <div class="container">
    <label>Telefone :</label>
    <input
      (keyup)="verifyTelefone()"
      #telefoneInput
      [value]="telefone"
      type="tel"
      maxlength="24"
      required=""
      data-js="phone"
    />
  </div>
  <div class="container-buttons">
    <button (click)="addCadastro()">Salvar</button>
    <button (click)="clear()">Limpar</button>
  </div>

  <div class="container-table">
    <table
      #table
      class="table-cadastro mat-elevation-z8"
      mat-table
      [dataSource]="datasoruce"
      matSort
    >
      <ng-container matColumnDef="nome">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by name"
        >
          Nome
        </th>
        <td mat-cell *matCellDef="let user">{{ user.nome }}</td>
      </ng-container>
      <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefone</th>
        <td mat-cell *matCellDef="let user">{{ user.telefone }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
